{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block title %}
    Users
{% endblock %}

{% block body %}
    {% include 'header.html' %}
    {% include 'allert_message.html' %}

    <!-- Breadcomb area Start-->
	<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="notika-icon notika-windows"></i>
									</div>
									<div class="breadcomb-ctn">
										<h2>Products</h2>
										<a href="{{ url_for('admin.products_add') }}">Add</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcomb area End-->


    <div class="container">
         <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-example-wrap">
                        <form action="{{ url_for('admin.products_add') }}" method="post" enctype="multipart/form-data">
                            <div class="form-example-int">
                                <div class="form-group">
                                    <label>Json File. ex. format: [ { "title": "", "description": "", "stock": "", "url": "", "image": "", "price": "", "category": "" },]</label>
                                    <div class="nk-int-st">
                                        <input type="file" class="form-control input-sm" name="json">
                                    </div>
                                </div>
                            </div>
                            <div class="form-example-int mg-t-15">
                                <button class="btn btn-success notika-btn-success">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>




    {% include 'footer.html' %}
{% endblock %}